html {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    color: hsl(220 40% 35%);
}

body {
    padding: 2rem;
    background-color: hsl(220 20% 95%);
}

.avatars {
    --avatar-count: 10;
    --avatar-size: 75px;

    --column-size: calc(var(--avatar-size) / 2);

    display: grid;
    grid-template-columns: repeat(var(--avatar-count), var(--column-size));
    transition: 500ms;
    transition-delay: 500ms;
}

.avatars:hover {
    --column-size: calc(var(--avatar-size) * 1.5);
    transition-delay: 0ms;
}

.avatar {
    width: var(--avatar-size);
    border-radius: 100vw;
    border: 5px solid white;
    box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);

    transition: scale 500ms;
}

.avatar:hover {
    scale: 2;
    z-index: 2;
}

@supports selector(:has(+ *)) {

    .avatar:hover+.avatar,
    .avatar:has(+ .avatar:hover) {
        scale: 1.5;
    }
}